@font-face {
  font-family: "Alexis";
  font-style: normal;
  font-weight: normal;
  src: local("Alexis"), url("../fonts/alex.woff") format("woff");
  src: url("../fonts/alexisv3.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

#prematch_table,
#postmatch_table {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  border-width: 4px;
  border-color: white;
}

#auton_table,
#endgame_table,
#teleop_table {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: black;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  border-width: 4px;
  border-color: black;
}

.button {
  font-family: Alexis;
  font-size: 16px;
}

#autonHeader,
#endgameHeader,
#teleopHeader1,
#teleopHeader2 {
  color: black;
  border-color: black;
  border-width: 4px;
}

#postmatchHeader {
  border-width: 4px;
  border-color: white;
}

#prematchHeader1,
#prematchHeader2 {
  color: white;
  border-color: white;
  border-width: 4px;
}

#qrHeader1,
#qrHeader2 {
  color: black;
}

.field-image {
  margin: 2vw;
}

.field-image-src {
  background-position: center;
  border: 1px solid;
}

.main-panel {
  display: none;
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-align: justify;
}

#prematch {
  display: table;
}

#qr-code {
  text-align: center;
}

h1 {
  font-family: Alexis;
  text-align: center;
  border-style: groove;
  border-color: white;
  border-width: 2px;
  font-size: 40px;
  padding: 10px;
  font-weight: 350;
}

#page2,
#page4 {
  color: black;
}

h2 {
  font-family: Alexis;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.match-label {
  text-align: center;
}

.half-button-l {
  width: 48%;
  margin: 1vw;
  height: 100%;
  font-family: roboto;
}

.half-button-r {
  flex-grow: 1;
  height: 100%;
  width: 48%;
  margin: 1vw;
  font-family: roboto;
}

.half-button-container {
  display: flex;
}

#nextButton1,
#nextButton2,
#nextButton9,
#nextButton10,
.clearForm,
.submitForm,
.displayButton,
#copyButton {
  font-family: Alexis;
  padding: 10px;
  background-color: yellow;
  text-decoration: none;
  display: inline-block;
  color: buttontext;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
}

#nextButton3,
#nextButton4,
#nextButton5,
#nextButton6,
#nextButton7,
#nextButton8 {
  font-family: Alexis;
  background-color: black;
  padding: 10px;
  color: white;
  color: buttontext;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
}

.undoButton,
.flipButton {
  font-family: Alexis;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: 20px;
  color: buttontext;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
}

#prevButton7,
#prevButton8,
#prevButton9 {
  font-family: Alexis;
  background-color: yellow;
  padding: 10px;
  color: buttontext;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
}

#prevButton1,
#prevButton2,
#prevButton3,
#prevButton4,
#prevButton5,
#prevButton6 {
  font-family: Alexis;
  background-color: black;
  padding: 10px;
  color: white;
  color: buttontext;
  -webkit-text-fill-color: currentColor;
  background-clip: border-box;
}

.floatLeft {
  float: left;
}

.page_title {
  text-align: center;
}

#prematch_table {
  font-family: Alexis;
  text-align: center;
}

h1 .odd {
  font-family: Alexis;
  text-align: center;
  color: #0ab4ec;
}

h1 .even {
  font-family: Alexis;
  text-align: center;
  color: #42b333;
}

table {
  border: 1px solid black;
  width: 100%;
}

td {
  padding: 10px 4px;
}

input,
select {
  font-size: 16px;
  font-family: roboto;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: text;
}

.incrementButton .decrementButton {
    border-color: white;
    color: buttontext;
    -webkit-text-fill-color: currentColor;
    background-clip: border-box;
  }

.title {
  width: 50%;
  text-align: right;
}

.field {
  width: 50%;
  text-align: left;
}

#qr-info {
  color: black;
}

#qr-table {
  text-align: center;
  color: black;
  background-color: white;
}

#data {
  font-family: "Lucida Console", "monospace";
  text-align: justify;
}

.divider-header {
  font-family: Audiowide;
  text-align: center;
  font-size: 24px;
  font-weight: 250;
  text-decoration: underline;
  padding-bottom: 0px;
}

.divider-info {
  font-style: italic;
  padding-top: 5px;
}
